#createboard {
    padding: 24px;
}

#createboard .modal-content {
    background-color: transparent;
    box-shadow: none;
}

#createboard .modal-header {
    border: none;
}

.modal-body {
    display: flex;
}

.createboard-tile {
    background-color: #fff;
    background-size: cover;
    box-sizing: border-box;
    height: 96px;
    margin: 0;
    padding: 10px 10px 10px 16px;
    position: relative;
    width: 296px;
}

#close {
    float: right;
    background: none;
    border: none;
    color: gray;
    outline: none;
    z-index: 2;
}

input.subtle-input {
    background: transparent;
    border: none;
    /*color: #fff;*/
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    min-height: 0;
    outline: 0;
    padding: 2px 8px;
}

.createboard-tile .subtle-input {
    position: relative;
    left: -8px;
    padding: 2px 8px;
    box-shadow: none;
}

input.subtle-input:focus {
    background: hsla(0,0%,100%,.3);
}

input.subtle-input:hover {
    background: hsla(0,0%,100%,.15);
}

.background-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

#createboard .background-grid {
    height: 96px;
    margin-left: 8px;
    width: 100px;
}

#createboard .background-grid-item {
    height: 28px;
    width: 28px;
    margin-bottom: 6px;
}

.background-grid-trigger {
    align-items: center;
    border-radius: 3px;
    color: rgba(0,0,0,.4);
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0;
    min-height: 0;
    padding: 0;
    position: relative;
    line-height: 0;
    width: 100%;
    cursor: pointer;
}

.background-grid-trigger, .background-grid-trigger:focus, .background-grid-trigger:hover {
    background-color: transparent;
    background-position: 50%;
    background-size: cover;
    box-shadow: none;
}

.background-grid-trigger.is-photo.selected:before, .background-grid-trigger:focus:before, .background-grid-trigger:hover:before {
    background: rgba(0,0,0,.15);
    position: absolute;
    bottom: 0;
    content: "";
    color: white;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    border-radius: 3px;
}

.icon-private {
    color: #eb5a46;
}

.icon-public {
    color: #61bd4f;
}

.sub-name {
    clear: both;
    color: #5e6c84;
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 4px;
}

.btn-primary.dropdown-toggle {
    background-color: transparent !important;
}

.btn-primary.dropdown-toggle:hover {
    background-color: hsla(0,0%,100%,.15) !important;
}

#createboard .modal-footer {
    border: none;
    justify-content: flex-start;
    padding-top: 0;
}

#createboard .start-with-a-template {
    align-items: center;
    color: #fff;
    display: flex;
    font-size: 14px;
    line-height: 20px;
    margin-top: -4px;
    margin-left: 8px;
    text-decoration: none;
}

#createboard .dropdown-toggle::before {
    
}