.all-boards {
    margin-top: 40px;
    width: 860px;
}
.board-list-item {
	width: 23.5%;
	margin-right: 2%;
}

.mod-add {
	margin-right: 0px;
    display: table-cell;
}

.board-tile {
	background-color: rgba(9,30,66,.04);
	box-shadow: none;
	border-radius: 3px;
	color: #172b4d;
	cursor: pointer;
	height: 96px;
	font-weight: 400;
    margin-top: 10px;
	padding: 8px;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: inherit;
	transition-property: background-color,border-color,box-shadow;
	transition-duration: 85ms;
	transition-timing-function: ease;
}

.board-tile-fade {
	/*background-color: rgba(0,0,0,.15);*/
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.board-tile-fade:hover {
	background-color: rgba(0,0,0,.15);
}

.board-tile-detail {
	color: white;
	display: flex;
    height: 80px;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.board-tile-details-sub-container {
    flex: 0 0 auto;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.board-tile-options {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    margin-left: 4px;
    overflow: hidden;
    position: relative;
    right: -4px;
}

.board-tile-details-name {
    flex: 0 0 auto;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    overflow: hidden;
    max-height: 40px;
    width: 100%;
    word-wrap: break-word;
}

.board-tile-options-star-icon {
    display: block;
    line-height: 18px;
    bottom: 0;
    right: 0;
    color: #fff;
    font-size: 14px;
    width: 0;
    height: 18px;
    opacity: 0;
    transition-duration: .15s;
    /*transition-property: color,background,opacity,transform,width,margin;*/
    /*-webkit-transform: translateZ(0);*/
}

.board-tile:hover .board-tile-options-star-icon {
    opacity: .75;
    width: 18px;
    margin-right: 6px;
}

.w-18 {
    color: yellow;
    opacity: .75;
    width: 18px;
    margin-right: 6px;
}

@media only screen and (max-width: 1091px) and (min-width: 712px) { 
    .all-boards {
        width: 0;
        flex: 1 1 100%;
    }
}